.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.App h1 {
  background-color: skyblue;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #333;
}

.left-panel { 
  float: left;
  width: 500px; 
}

.right-panel { 
  margin-left: 510px;
}

.instructions {
  padding: 25px;
}
