.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.left-panel { float: left; width: 500px; }

.right-panel { margin-left: 510px; }

.search-results {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: 5px;
  line-height: 1;
}

ul li:nth-child(even) {
  background-color: lightskyblue;
}

ul li span:nth-child(odd) {
  padding-right: 6px; 
}

ul li span:nth-child(even) {
  float: right; 
  padding-left: 6px;
}

ul span {
  position: relative;
}